
        table,
        th,
        td {
            border: 1px solid black;
        }
        td {
           box-sizing: border-box;
            height: 50px;
            max-height: 50px;
        }

        table {
            table-layout: fixed;
            border-collapse: collapse;
			  border: 2px solid #FF0000;
            width: 95%;
            margin: auto;
        }
 